{% extends 'EpluggFrontBundle::base_logged_in.html.twig' %}
{% block title %}{{ 'Eplugg'|trans }} - {{ 'Modifier vos informations'|trans }}{% endblock %}
{% block body %}
    <div id="content" style="min-height: 834px;">
    <div class="center_content_inner" style="min-height: 829px;">
    <div class="profil" id="body_content">
    {{ form_start(form, {'method': 'post', 'files': true, 'action': path('eplugg_edit_profile') }) }}
    <div class="edit_profil" id="card_eplugg">
    <div class="yellow"><img src="{{ asset('images/arrow-yelow-big.png') }}"></div>
    <div id="card_user">
        <div class="img_profil user_avatar">
            <a rel="edit_image" href="{{ path('eplugg_upload_avatar', {'iframe': 'true', 'width': '800', 'height': '560','avatarType': 'user_avatar'}) }}">
                <img class="edit_img" src="{{ asset('images/png_edit.png') }}">
                 <img id="profile_image" class="avatar_img" src="{% if user.avatar is not empty %} {{ asset(user.avatar.croppedWebPath) }} {% else %}{{ asset('images/avatar.png') }} {% endif %}">
            </a>
            {{ form_widget(form.avatar_user_id, { 'attr': { 'class': 'avatar_id'} } ) }}

        </div>
        <div class="descp_card">
            <strong>
                <div class="half_div">
                    {{ form_widget(form.firstName, { 'id': "perFirstname", 'attr': {'placeholder': 'Prénom'| trans } } ) }}


                </div>
                <div class="half_div">
                    {{ form_widget(form.lastName, { 'id': "perFirstname", 'attr': {'placeholder': 'Nom'| trans } } ) }}
                </div>
            </strong>
            <em>
                {{ form_widget(form.job, { 'id': "perJob", 'attr': {'placeholder': 'Profession / Status'|trans } } ) }}
            </em>
            <ul>
                <li style="position:relative" class="tel1">
                    {{ form_widget(form.direct_phone, { 'id': "perPhone", 'attr': {'placeholder': 'Numéro téléphone fixe'| trans } } ) }}

                    <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('{{ "Ajouter un numéro de téléphone"|trans }}');"
                       class="addSep hotspot" id="pAddMobile"></a>
                </li>
                <li style="position:relative" class="mobile">
                    {{ form_widget(form.mobile, { 'id': "perMobile", 'attr': {'placeholder': 'Numéro téléphone mobile'| trans } } ) }}

                    <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('{{ "Ajouter un numéro de téléphone"|trans }}');"
                       class="addSep hotspot" id="pAddMobile"></a>
                </li>
                <li style="position:relative" class="mail1">
                    {{ form_widget(form.more_emails, { 'id': "perEmail", 'attr': {'placeholder': 'Emails'| trans } } ) }}

                    <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('{{ "Ajouter une adresse email"|trans }}');"
                       class="addSep hotspot" id="pAddMobile"></a>
                </li>
                <li style="position:relative" class="sociaux">
                    {{ form_widget(form.sociaux, { 'id': "perSociaux", 'attr': {'placeholder': 'Liens des comptes Facebook, Twitter, G+, Linkedin, ...'|trans } } ) }}


                    <a onmouseout="tooltip.hide();"
                       onmouseover="tooltip.show('{{ "Ajouter des liens vers des réseaux sociaux (facebook, google+,twitter...)"|trans }}');"
                       class="addSep hotspot" id="pAddSociaux"></a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="card_company">

    <div class="img_profil company_avatar">
        <a rel="edit_logo" href="{{ path('eplugg_upload_avatar', {'iframe': 'true', 'width': '800', 'height': '560','avatarType': 'company_avatar'}) }}">
            <img class="edit_img" src="{{ asset('images/png_edit.png') }}">
            <img id="profile_logo" class="avatar_img" src="{% if user.CompanyAvatar is not empty %} {{ asset(user.CompanyAvatar.croppedWebPath) }} {% else %}{{ asset('images/avatar-company.png') }} {% endif %}">
            {{ form_widget(form.avatar_company_id, { 'attr': { 'class': 'avatar_id'} } ) }}

        </a>
    </div>
    <div class="descp_card">
    <strong>{{ form_widget(form.company_name, { 'id': "cmpnName", 'attr': {'placeholder': 'Etablissement'|trans } } ) }}</strong>

    <em style="position:relative">
        {{ form_widget(form.activities, { 'id': "cmpnActivity", 'attr': {'placeholder': 'Domaine d\'activité'| trans } } ) }}

        <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('Ajouter une activité');" class="addSep hotspot"
           id="pAddAct"></a>
    </em>
    <ul>
    <li style="position:relative" class="tel2">
        {{ form_widget(form.company_tel, { 'id': "cmpnPhone", 'attr': {'placeholder': 'Numéro téléphone'|trans } } ) }}

        <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('{{ "Ajouter un numéro de téléphone"|trans }}');"
           class="addSep hotspot" id="pAddMobile"></a>
    </li>
    <li style="position:relative" class="fax">
        {{ form_widget(form.company_fax, { 'id': "cmpnFax", 'attr': {'placeholder': 'Numéro fax'|trans } } ) }}
        <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('{{ "Ajouter un numéro de Fax"|trans }}');" class="addSep hotspot"
           id="pAddMobile"></a>
    </li>
    <li style="position:relative" class="site">
        {{ form_widget(form.company_website, { 'id': "cmpnSite", 'attr': {'placeholder': 'Site Web'|trans } } ) }}
        <a onmouseout="tooltip.hide();" onmouseover="tooltip.show('Ajouter un Site');" class="addSep hotspot"
           id="pAddSite"></a>
    </li>
    <li class="lieu">
    <div class="adress_div">
        {{ form_widget(form.company_address, { 'id': "cmpnAddress", 'attr': {'placeholder': 'Adresse'|trans } } ) }}

    </div>
    <div class="div_city">
        {{ form_widget(form.company_city, { 'id': "company_city", 'attr': {'placeholder': 'Ville'|trans } } ) }}
    </div>
    <div class="country_div">
    <label class="custom_country">
        {{ form_widget(form.company_country, { 'id': "company_country", 'attr': {'placeholder': 'Adresse'|trans } } ) }}
    </label>
    </div>
    </li>
    </ul>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    <div class="partage_profil">
        <ul>
            <li>

                <button class="submit" type="submit"><img width="20" src="{{ asset('images/arrow-yelow-big.png') }}"> {{ 'Enregistrer'|trans }}</button>
            </li>
        </ul>
    </div>
    {{ form_end(form) }}
    <div class="clear30"></div>
    </div>
        {% include "EpluggFrontBundle:logged_in:right_sidebar.html.twig" %}


    </div>
    <div class="clear25"></div>
    </div>
{% endblock %}