{% extends 'EpluggFrontBundle::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
    <link href="{{ asset('css/mapplic.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mapplic-ie.css') }}" />
    <script type="text/javascript" src="{{ asset('js/html5shiv.js') }}"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie.css') }}" />
    <![endif]-->
    <link href="{{ asset('css/responsivehome.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}{{ 'Eplugg'|trans }} - {{ 'Accueil'|trans }}{% endblock %}

{% block login %}
<div class="login">
    <form action="{{ path("fos_user_security_check") }}" id="signinform" method="post">
        <input type="text" class="" name="_username" required="required"  placeholder="{{ 'Adresse e-mail'|trans }}"   />
        <input type="password" class="" name="_password" required="required" autocomplete="off"  placeholder="{{ 'Mot de passe'|trans }}" />
        <input id="userLang" type="hidden" value="{{ app.request.locale }}" name="lang">
        <button class="submit_header" type="submit" ></button>
        <div class="cat_search">
            <a data-url='' id="lang_link"><span id="cat_label">{{ 'en'|trans }} </span></a>
            <a id="btn_cat"><img src="{{ asset('images/arrow.png') }}" alt="" /></a>
            <div class="souscat">
                <ul>
                    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" data-lang='en'>en</a></li>
                    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" data-lang='fr'>fr</a></li>
                </ul>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <a id="connex" href="{{ path('fos_user_resetting_request') }}">{{ 'Mot de passe oublié'|trans }}?</a>
    </form>

</div>
<div class="clear10"></div>
{% endblock %}
{% block body %}
<div class="center_content" style="position:relative"> <div class="home_full">
<form id="msform" method="post" action="/eplugg">
<fieldset>
<div class="form_home">
<div class="card_user-search">
    <div class="select_div">
        <label  class="custom_gendre">
            <select name="gendre" class="type1" id="gendre">
                <option value=""></option>
                civilities
                {% for key,civility in civilities %}
                    <option value="{{ key }}" > {{ civility }} </option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="half_div"><input id="firstname" name="firstname" type="text"  placeholder="{{ 'Prénom'|trans }}" value="" /></div>
    <div class="half_div"><input id="lastname" name="lastname" type="text"  placeholder="{{ 'Nom'|trans }}" value=""   /></div>
    <div class="inputfile"><input id="job" name="job" type="text"  placeholder="{{ 'Métier'|trans }}" value=""   /></div>
    <div style="width:30%; float:left;text-align:left; margin-left: 10px">
        <select id="birthday" name="birthday" >
            {% for day in 1..31 %}
                <option value="{{ day }}" > {{ day }} </option>
            {% endfor %}

        </select>
    </div>
    <div style="width:30%; float:left;text-align:left; margin-left: 8px">
        <select id="birthmonth" name="birthmonth" >
            {% for key,mounth in dateSelect.mounths %}
                <option value="{{ key }}" > {{ mounth }} </option>
            {% endfor %}
        </select>
    </div>
    <div style="width:30%; float:left;text-align:left; margin-left: 10px">
        <select id="birthyear" name="birthyear">
            {% for year in dateSelect.years.start..dateSelect.years.end %}
                <option value="{{ year }}" > {{ year }} </option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="card_company-search">
<div  class="inputfile"><input id="company_name" name="company_name" type="text"  placeholder="{{ 'Établissement'|trans }}" value=""   /></div>
<div style="position:relative"  class="inputfile">
    <input id='company_activity' name="company_activity" type="text"  placeholder="Activities" value=""    />
    <a id="pAddAct" class="addSep hotspot" onmouseover="tooltip.show('{{ "Ajouter une activité"|trans }}');" onmouseout="tooltip.hide();"></a>
</div>
<div class="inputfile2">
<div class="half_div">
<label  class="custom_country">
<select name="company_country"  id="company_country">
    <option value="">{{ 'Pays'|trans }}</option>
    {% for key,country in countries %}
        <option value="{{ key }}" > {{ country }} </option>
    {% endfor %}
</select>
</label>
</div>
<div class="half_div">
    <input id="company_city" name="company_city" type="text"  placeholder="{{ 'Ville'|trans }}" value="" />
</div>
</div>
</div>
</div>
<input type="hidden" value="1" name="advancedSearch">
<div class="bloc_btn_home">
    <button type="button" class="signup">{{ 'S’inscrire'|trans }}</button>
    <button  class="homeSearch">{{ 'Rechercher'|trans }}</button>   </div>
</fieldset>
<div style="clear:both"></div>
</form>


</div><div style="clear:both"></div></div><div class="slogan">
    <div class="top_slogan">{{ 'The first library'|trans }} </div>
    <div class="bottom_slogan">{{ 'For virtual business cards'|trans }}</div>
</div>

<div style="display:none" id="cnx_config"  data-validationUrl = "{{ path('eplugg_front_checkmail') }}">
    <div class="titre_plugg">{{ 'S’inscrire'|trans }}</div>
    {% render url('fos_user_registration_register') %}

</div>
<div class="ombre"  ></div>

{% endblock body %}
{% block after_footer %}
    <div class="map-container"><div id="mapplic" data-url="{{ path('eplugg_mapclic') }}"></div></div>
{% endblock %}
{% block javascripts %}
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery.placeholder.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/jquery.caret.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script language="javascript" type="text/javascript" >
        var invalide_email_error = "Invalid email address." ;
        var password_error = "Password must be a minimum of 6 characters string." ;
        var confirm_password_error = "The two passwords must be identical." ;
        jQuery( document ).ready(function() {
            jQuery( ".homeSearch" ).click(function(event) {
                event.preventDefault();
                window.location.href = "{{ path('eplugg_all_users') }}"
            });
        });


    </script>
    <script language="javascript" type="text/javascript" src="{{ asset('js/steps.js') }}"></script>

{% endblock %}









