{% trans_default_domain 'FOSUserBundle' %}

<div class="titre_plugg">{{ 'Paramètres du compte'|trans }}</div>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="top_form">
        <table width="100%" class="tab_cv">
            <tbody>
            <tr>
                <td height="35">{{ 'Adresse email'|trans }} : </td>
                <td>{{ form_widget(form.email, { 'id': "email",}) }}<div class="error"> {{ form_errors(form.email) }}</div></td>

            </tr>
            <tr>
                <td height="35">{{ 'Mot de passe actuel'|trans }} : </td>
                <td>{{ form_widget(form.current_password, { 'id': "current_password",}) }}<div class="error"> {{ form_errors(form.current_password) }}</div></td>

            </tr>
            <tr>
                <td height="35">{{ 'Nouveau mot de passe'|trans }} : </td>
                <td>{{ form_widget(form.plainPassword.first, { 'id': "password",}) }}</td>
            </tr>
            <tr>
                <td height="35">{{ 'Confirmer mot de passe'|trans }} : </td>
                <td>{{ form_widget(form.plainPassword.second, { 'id': "password_again",}) }}
                    <div class="error"> {{ form_errors(form.plainPassword) }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="div_btn">
        <button class="submitSetting btn btn-large btn-inverse" type="submit" value="{{ 'change_password.submit'|trans }}">{{ 'Enregistrer'|trans }}</button>
    </div>
{{ form_widget(form) }}

{{ form_end(form) }}