{% extends 'EpluggFrontBundle:popin:base_popin.html.twig' %}
{% block body %}
    {% if valid %}
        <script>
            parent.document.location.reload();
        </script>
    {% endif %}
    <script>
        $( document ).ready(function() {
            $('#date').datepicker({ dateFormat: 'dd-mm-yy' })

        });

    </script>
    <div class="titre_plugg">{{ 'Ajouter un évènement'|trans }}</div>
    {{ form_start(form, { 'action': path('eplugg_add_event'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="top_form">
            <table width="100%" class="tab_cv">
                <tbody>
                <tr>
                    <td>Titre : <br>{{ form_widget(form.title, {'id': 'title', 'attr': {}}) }}
                </tr>
                <tr>
                    <td>Date : <br>{{ form_widget(form.eventDate, {'id': 'date', 'attr': {}}) }}
                </tr>

                </tbody>
            </table>
        </div>
        <div class="clear20"></div>
        <div align="right" class="div_btn">
            <button class="btn btn-large btn-inverse submit" type="submit">{{ 'Enregistrer'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}