{% extends 'EpluggFrontBundle::base_logged_in.html.twig' %}
{% block title %}{{ 'Eplugg'|trans }} - {{ 'Suggestion'|trans }}{% endblock %}

{% block body %}
    <div id="content">
        <div class="center_content_inner">

            {{ render(controller('EpluggFrontBundle:Default:leftSidebarConnected')) }}

            <div id="body_content">
                {% if users is not empty %}
                    <div class="titre_plugg search">{{ 'Résultats de la recherche'|trans }}</div>
                    <div id="content_infinity">
                        {% for user in users %}
                            <div class="item_infinity">
                            <div class="bloc_user">

                                <a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}" data-tooltip="#html-content{{ user[0].id }}" class="infobull_div tooltip"></a>
                                <div class="im_connais">
                                    <a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}" data-tooltip="#html-content{{ user[0].id }}" class="tooltip">
                                        <img width="37" height="37" alt="" src="{% if user[0].avatar is not empty %} {{ asset(user[0].avatar.croppedWebPath) }} {% else %}{{ asset('images/avatar.png') }} {% endif %}">
                                    </a>
                                </div>
                                <div class="des_connais">
                                    <strong> <a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}" data-tooltip="#html-content{{ user[0].id }}" class="tooltip">{{ user[0].firstName }} {{ user[0].lastName }}</a></strong>
                                    {{ user[0].job }}
                                </div>
                                <div class="ferme_connais">
                                    <div class="fermer_connais"><a href="{{  path('eplugg_ignore_user', {'uid': user[0].id }) }}" class="ignore-user">X</a></div>
                                    <a rel="mutual_friend" href="{{ path('eplugg_common_firends', {'uid': user[0].id, 'iframe': 'true', 'width': '400'}) }}" class="nb_vue_" title="{{ user[1] }} {{ 'Contacts en commun'|trans }}"><span>{{ user[1] }}</span></a>
                                </div>
                                <div class="clear5"></div>
                            </div>
                            <div id="html-content{{ user[0].id }}" style="display:none;">
                                <div onclick="window.location.href='{{ path('eplugg_profile_page', {'uid': user[0].id }) }}'" id="card_eplugg">
                                    <div class="yellow"><img src="{{ asset('images/arrow-yelow.png') }}"></div>
                                    <div id="card_user">
                                        <div class="img_profil"><a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}"><img width="48" height="48" alt="" src="{% if user[0].avatar is not empty %} {{ asset(user[0].avatar.croppedWebPath) }} {% else %}{{ asset('images/avatar.png') }} {% endif %}"></a></div>
                                        <div class="descp_card">
                                            <div class="name_user"> <a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}">{{ user[0].firstName }} {{ user[0].lastName }}</a> </div>
                                            <div class="job_user">{{ user[0].job }}</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div id="card_company">
                                        <div class="img_profil">
                                            <a href="/{{ path('eplugg_profile_page', {'uid': user[0].id }) }}">
                                                <img width="51" height="51" src="{% if  user[0].CompanyAvatar is not empty %} {{ asset( user[0].CompanyAvatar.croppedWebPath) }} {% else %}{{ asset('images/avatar-company.png') }} {% endif %}">
                                            </a>
                                        </div>
                                        <div class="descp_card">
                                            <div class="company_user"><a href="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}">{{ user[0].companyName }}</a></div>
                                            <div class="tag_company">
                                                {{ user[0].getActivitiesFormatted }}
                                            </div>
                                            <div class="lieu_company">{{ user[0].companyAddress }}</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="plugg_link info_card">
                                    <a onclick="Plugger(this, 0)" data-id="{{ path('eplugg_profile_page', {'uid': user[0].id }) }}">{{ 'Plugger'|trans }}</a>

                                    <a href="{{ path('eplugg_messages_user', {'uid': user[0].id } ) }}">{{ 'Message'|trans }}</a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="{{ path('eplugg_suggest_page_auto', {'page': next } ) }}" id="next"></a>
                    </div>
                {% endif %}
            </div>
            {% include "EpluggFrontBundle:logged_in:right_sidebar.html.twig" %}
            <div class="clear"></div>

        </div>
        <div class="clear25"></div>
    </div>
{% endblock %}
{% block more_javascripts %}
    <script src="{{ asset('js/jquery.infinitescroll.js') }}"></script>
    <script language="javascript" type="text/javascript">
        $('#content_infinity').infinitescroll(
                {
                    navSelector:"#next:last",
                    nextSelector:"a#next:last",
                    itemSelector:"#content_infinity div.item_infinity",
                    dataType:'html',
                    maxPage:3,
                    path:function(index) { return "?page=" + index ; }
                },
                function(newElements, data, url){
                    $('.tooltip').darkTooltip({animation:'flipIn', gravity:'east', theme:'light'});
                    intPretty() ;
                }
        );
    </script>
{% endblock %}